.about-container {
  background-color: grey;
}

.about-section {
  background-color: whitesmoke;
  padding: 8rem 2rem;
}

.skills-section {
  background-color: rgba(190, 200, 255, 0.55);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
}

.skills-section {
  overflow-wrap: none;
}

.skills-section-div {
  white-space: nowrap;
  overflow-x: scroll;
}

.skills-h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skills-list {
  align-items: stretch;
  text-align: start;
}

.skills-list--js {
  transition: all 0.5s ease-in-out;
}

.skills-list--js:active {
  display: block;
}

.skills-list--item {
  margin: 1.5rem 0.25rem;
  display: inline-block;
  margin-right: 2rem;
}

.big-3-title {
  position: absolute;
}

.project-container {
  padding: 0 1rem;
}

.project-section {
  padding: 3rem 2rem;
}

.project-card {
  background-color: rgba(228, 0, 228, 0.12);
  margin: 2rem 1rem;
  padding: 1.2rem 1.4rem;
}

.learning-list--title {
  padding: 0.5rem 2rem;
  position: absolute;
}

.learning-section {
  padding: 1.5rem 0;
  text-align: start;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
}

.learning-list {
  overflow-y: hidden;
  overflow-x: auto;
  list-style-type: none;
  display: inline-flex;
}

.learning-list--item {
  margin: 3rem 1rem;
  width: 13rem;
  height: 10rem;
  background-color: green;
}

#footer-container {
  background-color: rgba(100, 50, 255, 0.3);
  position: absolute;
  display: flex;
  width: 100%;
}

#footer-div ul {
  position: static;
  height: 17rem;
  justify-items: center;
  list-style-type: none;
  padding: 1rem auto;
}
#footer-div ul li {
  margin: 1rem 0;
  font-weight: 500;
}

.nav-container {
  width: 100%;
}

.nav-list, .skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  align-items: center;
  display: flex;
  text-align: start;
  justify-content: space-evenly;
}

.nav-list--item {
  display: inline-block;
  padding: 15px 25px;
}

.logo-item {
  justify-content: start;
  margin-right: auto;
  margin-left: 1rem;
}

.logo {
  position: absolute;
  top: 0.8rem;
}

#main-container {
  padding: 1.2rem 2rem !important;
}

.navbar {
  background-color: rgba(2, 255, 5, 0.3);
}

.container-fluid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr;
  grid-template-areas: "nav nav nav nav" "about about about about" "about about about about";
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 85vh;
  grid-template-areas: "aboutMe skills skills" "aboutMe skills skills";
}

#navbar {
  grid-area: nav;
}

#about-container {
  grid-area: about;
}

#about-section {
  grid-area: aboutMe;
}

#skills-section {
  grid-area: skills;
}

#project-container {
  display: grid;
  grid-template-columns: 47vw 47vw;
  grid-template-rows: 60vh 31.5vh;
  grid-template-areas: "projects projects projects projects" "learning learning learning learning";
}

#learning-section {
  background-color: rgba(64, 54, 90, 0.3);
  grid-area: learning;
}

#project-section {
  background-color: rgba(200, 54, 90, 0.3);
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#footer-div {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "contacts books teachers";
  justify-content: space-around;
  align-items: center;
  text-align: start;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
body a {
  text-decoration: none;
  color: inherit;
}

html, body, #main-container {
  margin: 0;
  padding: 0;
}

.sizing-for-icon {
  font-size: 80px;
}

.sizing-svg-icon {
  position: relative;
  bottom: 1.2rem;
}

.nav-item--list {
  font-weight: 600;
}

h1 {
  font-weight: 700 !important;
  font-size: 3rem !important;
}

h2 {
  font-weight: 700 !important;
  font-size: 2.45rem !important;
}/*# sourceMappingURL=main.css.map */