@use 'index.scss';


#main-container {
    padding: 0rem 1rem 0rem 0rem;
    overflow-x: hidden;
}
// Moves the Nav Bar Slightly to the left for better alightment
.navbar {
    transform: translateX(-1rem);
}

.animate {
    transform: translateX(5rem);
    opacity: 1;
    transition: ease-out 1s;
}