@use '../partials/variables.scss' as *;

// Main Grid Set Up
.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr;
    grid-template-areas: "nav nav nav nav"
    "about about about about"
    "about about about about";
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85vh;
    grid-template-areas: "aboutMe skills skills"
    "aboutMe skills skills";
}

#navbar {
    grid-area: nav;
}
// About Me Section Set Up
#about-container {
    grid-area: about;
}

#about-section {
    grid-area: aboutMe;
}

#skills-section {
    grid-area: skills;
}
// Project Section Set Up
#project-container {
    display: grid;
    grid-template-columns:47vw 47vw;
    grid-template-rows: 90vh 70vh;
    grid-template-areas: "projects projects projects projects"
    "learning learning learning learning";
}

#learning-section {
    background-color: rgba(64, 54, 90, 0.30);
    grid-area: learning;
    margin-top: 5rem
}

#project-section {
    background-color: rgba(200, 54, 90, 0.30);
    grid-area: projects;
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    z-index: 1;
    overflow-y: scroll;
}

#footer-div {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contacts books teachers";
    justify-content: space-around;
    align-items: center;
    text-align: start;
}





