@use '../partials/variables.scss' as *;

.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas: "nav nav nav nav"
    "about about about about"
    "about about about about";
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:40vh 40vh;
    grid-template-areas: "aboutMe skills skills"
    "aboutMe skills skills";
}

#navbar {
    grid-area: nav;
}

#about-container {
    grid-area: about;
}

#about-section {
    padding: 1.8rem;
    grid-area: aboutMe;
}

#skills-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
    grid-area: skills;
}

#project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "projects projects learning"
    "projects projects learning";;
}

#learning-section {
    background-color: rgba(64, 54, 90, 0.30);
    width: 40rem;
    grid-area: learning;
}

#project-section {
    background-color: rgba(200, 54, 90, 0.30);
    width: 47rem;
    grid-area: projects;
}



