@use '../partials/variables.scss' as *;

// Main Grid Set Up
.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr;
    grid-template-areas: "nav nav nav nav"
    "about about about about"
    "about about about about";
}

.about-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70vh;
    grid-template-areas: "aboutMe skills skills"
    "aboutMe skills skills";
}

#navbar {
    grid-area: nav;
}
// About Me Section Set Up
#about-container {
    grid-area: about;
}

#about-section {
    grid-area: aboutMe;
}

#skills-section {
    grid-area: skills;
}
// Project Section Set Up
#project-container {
    display: grid;
    grid-template-columns:47vw 47vw;
    grid-template-rows: 60vh 35vh;
    grid-template-areas: "projects projects projects projects"
    "learning learning learning learning";
}

#learning-section {
    background-color: rgba(64, 54, 90, 0.30);
    grid-area: learning;
}

#project-section {
    background-color: rgba(200, 54, 90, 0.30);
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer-container {
    background-color: rgba(100, 50, 255, 0.30);
    position: absolute;
    display: flex;
    width: 100%;
}

#footer-div {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contacts books teachers";
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

#footer-div ul {
    position: static;
    height: 17rem;
    justify-items: center;
    list-style-type: none;
    padding: 1rem auto;
    li {
        margin: 1rem 0;
        font-weight: 700;
    } 
}



