@use '../partials/variables.scss' as *;
// Border Box
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    font-family: 'Montserrat Alternates', sans-serif;
}
// Setting Body Width to Stretch
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    a {
        text-decoration: none;
        color: inherit;
    }
}
// Initializing margins
html, body{
    margin: 0;
    padding: 0;
}

.sizing-for-icon {
    font-size: 60px;
}

.sizing-svg-icon {
    position: relative;
    bottom: 1rem;
}

.lodash-icon {
    bottom: 0;
}








