@use '../partials/variables.scss' as *;

.nav-item--list {
    font-weight: 600;
}

h1 {
    font-weight: 700 !important;
    font-size: 3rem !important;
}

h2 {
    font-weight: 700 !important;
    font-size: 2.45rem !important;
}