@use '../partials/variables.scss' as *;

.nav-item--list {
    font-weight: 600;
}

.main-title {
    font-weight: 700 !important;
    font-size: 4.2rem !important;
}

h2 {
    font-weight: 700;
    font-size: 1.55rem;
}

span {
    font-size: 1.85rem;
}

p {
    font-size: 14px;
}

.skills-h1 {
    text-shadow: 2px 9px  12px rgba(2, 2, 2, 0.15);
}

.skills-list--item {
    text-shadow: 2px 9px  12px rgba(2, 2, 2, 0.15);
}

.skills-list--item:hover {
    text-shadow: -12px 20px  13px rgba(2, 2, 2, 0.15);
}