@use '../partials/variables.scss' as *;

.wrapper {
    display: flex;
    height: 2.85rem;
    width: 80%;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
    margin: 4.5rem 6rem 4.5rem 3rem;
    box-shadow: -10px 10px 10px 1px rgba(10, 100, 10, .075);
    width: 27rem;
    border-width: 0px 2.5px 2.5px 2.5px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgba(2, 2, 2, 0.99),
    rgba(2, 2, 2, 0.60), 
    rgba(2, 2, 2, 0.45), 
    rgba(2, 2, 2, 0.15),
    rgba(2, 2, 2, 0)98%);
    border-image-slice: 1;
}

.words-left, .words-right {
    z-index: 1;
    font-size: 1.55rem;
    display: block;
    width: 9.4rem;
    transition: all 0.5s ease-in-out;
}

.words-left{
    z-index: 1;
    animation: text-scroll-up;
    animation-duration: 5s;
    animation-fill-mode: both;
    transform: translateY(-500%);
    font-weight: 600;
}

.words-right{
    z-index: 1;
    animation: text-scroll-up-2;
    animation-duration: 5.12s;
    animation-fill-mode: both;
    transform: translateY(-500%);
    font-weight: 600;
}



.words-middle {
    font-size: 1.55rem;
    z-index: 1;
    display: block;
    width: 5rem;
    transition: all 0.5s ease-in-out;
    animation: text-scroll-down;
    animation-duration: 4.5s;
    animation-fill-mode: both;
    transform: translateY(400%);
}