@use '../partials/variables.scss' as *;

// Navbar Width To Allow Correct Menu Aligntment
.nav-container {
    width: 100%;
}

.nav-list, .skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list {
    align-items: center;
    display: flex;
    text-align: start;
    justify-content: space-evenly;
}
.nav-list--item {
    display: inline-block;
    padding: 15px 25px;
}

.logo-item {
    justify-content: start;
    margin-right: auto;
    margin-left: 1rem;
}

.logo {
    position: absolute;
    top: 0.8rem;
}

// End Of Navbar aligntment