@use '../partials/variables.scss' as *;

// Navbar Width To Allow Correct Menu Aligntment
.navbar {
    border-width: 0px 0px 6px 6px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgba(2, 2, 2, 0.99),
    rgba(2, 2, 2, 0.30), 
    rgba(2, 2, 2, 0.15), 
    rgba(2, 2, 2, 0.05),
    rgba(2, 2, 2, 0)98%);
    border-image-slice: 1;
}

.nav-container {
    width: 100%;
}

.nav-list, .skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list {
    align-items: center;
    display: flex;
    text-align: start;
    justify-content: space-evenly;
}
.nav-list--item {
    display: inline-block;
    padding: 15px 25px;
}

.logo-item {
    justify-content: start;
    margin-right: auto;
    margin-left: 1rem;
}

.logo {
    position: absolute;
    top: 0.8rem;
}

// End Of Navbar aligntment