@use '../partials/variables.scss' as *;

// Navbar Width To Allow Correct Menu Aligntment
.navbar {
    
}

.nav-container {
    background-color: rgba(255, 255, 255, 0.99);
    width: 100%;
    position: fixed;
    z-index: 2;
    border-width: 0px 0px 2.5px 2.5px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgba(2, 2, 2, 0.99),
    rgba(2, 2, 2, 0.60), 
    rgba(2, 2, 2, 0.45), 
    rgba(2, 2, 2, 0.15),
    rgba(2, 2, 2, 0)98%);
    border-image-slice: 1;
    box-shadow: -10px 10px 10px 1px rgba(73,242,170, .15);
    padding: 0.2rem 5% 0.2rem 0rem;
}

.nav-list, .skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list {
    align-items: center;
    display: flex;
    text-align: start;
    justify-content: space-evenly;
}
.nav-list--item {
    display: inline-block;
    padding: 15px 10px;
}

.logo-item {
    justify-content: start;
    margin-right: auto;
    margin-left: 1rem;
}

.logo {
    position: absolute;
    top: 0.8rem;
}

// End Of Navbar aligntment