@use '../partials/variables.scss' as *;

#main-container {
    padding: 1.2rem 2rem!important;
}

.navbar {
    background-color: rgba(2, 255, 5, 0.30);
}

.about-container {
    background-color: grey;
}

.about-section {
    background-color: whitesmoke;
    padding: 1.8rem;
}

.skills-section {
    background-color: rgba(0 , 200, 255, 0.55);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
}

.skills-list {
    align-items: stretch;
    text-align: start;
}

.skills-list--js {
    // display: none;
    transition: all 0.5s ease-in-out;
}

.skills-list--js:active {
    display: block;
}

.skills-list--item {
    margin: 1.5rem 0.25rem;
    display: inline-block;
}

.big-3-title {
    position: absolute;
}

.project-container {
    padding: 0 1rem;
}

.project-section {
    padding: 3rem 2rem;
}

.project-card {
    background-color: rgba(228, 0, 228, 0.12);
    margin: 2rem 1rem;
    padding: 1.2rem 1.4rem;
}

.learning-list--title {
    padding: 0.5rem 2rem;
    position: absolute;
}

.learning-section {
    padding: 1.5rem 0;
    text-align: start;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: center;
}

.learning-list {
    overflow-y: hidden;
    overflow-x: auto;
    list-style-type: none;
    display: inline-flex;
}

.learning-list--item {
    margin: 3rem 1rem;
    width: 13rem;
    height: 10rem;
    background-color: green;
}