@use '../partials/variables.scss' as *;

.big-3-title {
    position: absolute;
}

.project-container {
}

.project-section {
    background-color: pink;
}

.project-card {
    background-color: rgba(228, 0, 228, 0.12);
    margin: 2rem 1rem;
    padding: 1.2rem 1.4rem;
}

.learning-list--title {
    padding: 0.5rem 2rem;
    position: absolute;
}

.learning-section {
    padding: 1.5rem 0;
    text-align: start;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: center;
}

.learning-list {
    overflow-y: hidden;
    overflow-x: auto;
    list-style-type: none;
    display: inline-flex;
}

.learning-list--item {
    margin: 3rem 1rem;
    width: 13rem;
    height: 10rem;
    background-color: green;
}