@use '../partials/variables.scss' as *;

.project-intro{
    position: absolute;
    color: white;
    z-index: 2;
    text-shadow:-1rem -1.2rem 0px rgba(73,241,171, 1);
    transform: translateX(20rem);
    h3 {
        font-size: 3.5rem;
    }
}
.project-container {
    
}

.project-section {
    background-image: linear-gradient(120deg, black 60%, white 40%);
    padding: 2.5rem 1rem;
    overflow-x: hidden;
    flex-direction: column;
    z-index: 1;
}

.project-cards--container {
    padding: 2.5rem 1rem;
}

.project-card {
    margin: 6rem 1rem 3.5rem 12%;
}

.project-card--details {
    width: 38rem; height: 40%;
    position: sticky;
    top: 7%;
    right: 17%;
    z-index: 2;
}

// puts cards towards to left 
.move-to-left {
    opacity: 0.1;
    transform: translateX(-300px);
}

.learning-list--title {
    padding: 0.5rem 2rem;
    position: absolute;
}

.learning-section {
    padding: 1.5rem 0;
    text-align: start;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    text-align: center;
    margin-top: 5rem
}

.learning-list {
    overflow-y: hidden;
    list-style-type: none;
    display: inline-flex;
}

.learning-list--item {
    margin: 3rem 3rem;
    width: 8rem;
    height: 8rem;
    background-color: green;
}